.step {
  display: none;
}

input.invalid {
  border: 2px solid red;
  background-color: #ffe6e6;
}

#progressBarContainer {
  width: 100%;
  background: #eee;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
}

#progressBar {
  height: 8px;
  width: 0%;
  background: #3498db;
  transition: width 0.3s ease;
}

.error-message {
  color: red;
  /* font-size: 0.9em; */
  display: none;
  width: 100px;
}